{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

{#    <a class="btn btn-primary" href="{{ path("app_product_show") }}">show</a>#}
   <a class="btn btn-primary my-3" href="{{ path("app_product_create") }}">create</a>

   <h2 class="py-4">All products</h2>

   <table class="table my-2">
      <thead>
      <tr>
         <th scope="col">Name</th>
         <th scope="col">Description</th>
         <th scope="col">Price</th>
         <th scope="col">Date</th>
         <th scope="col">Images</th>
         <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
      <tr>
         <td>{{ product.name }}</td>
         <td>{{ product.description }}</td>
         <td>{{ product.price }} €</td>
         <td>{{ product.createdAt | date("d/m/Y")}}</td>
         <td>
            <div class="d-flex">
               {% for image in product.images %}
                  <div class="card">
                     <div class="d-flex justify-content-end">
                        <a class="btn-close" href="{{ path("app_product_image_delete",{id:image.id}) }}"></a>
                     </div>
                     <img class="mx-1" src="{{ vich_uploader_asset(image) }}" width="60px">
                  </div>
               {% endfor %}
            </div>
         </td>
         <td>
            <div class="d-flex flex-column">
               <a class="btn btn-primary" href="{{ path('app_product_show',{id:product.id}) }}">Show</a>
            </div>
         </td>


      </tr>

      {% endfor %}
      </tbody>
   </table>

{% endblock %}
