{% extends 'base.html.twig' %}

{% block title %}Hello ProductUserController!{% endblock %}

{% block body %}
    <h2 class="mt-2 mb-3">Nos Produits</h2>

    {% for product in products %}
    <div class="form-control my-2">
        <h3>{{ product.name }}</h3>
        <h5>{{ product.description }}</h5>
        <h5>{{ product.price }} €</h5>
        <h6>{{ product.createdAt | date("m/d/Y") }}</h6>
        <div>
            <a class="btn btn-primary" href="{{ path("app_product_user_show",{id:product.id}) }}">Voir</a>
            <a class="btn btn-warning" href="{{ path('app_cart_index_add',{id:product.id,quantity:1}) }}">Ajouter au panier</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
