{% extends 'base.html.twig' %}

{% block body %}
<div class="form-control my-2">
    <h3>{{ product.name }}</h3>
    <h5>{{ product.description }}</h5>
    <h5>{{ product.price }} €</h5>
    <h6>{{ product.createdAt | date("m/d/Y") }}</h6>
    <div>
        <a class="btn btn-primary" href="{{ path("app_product_user") }}">retour</a>
    </div>
</div>
{% endblock %}